@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Work Sans", sans-serif; */
*{
    margin: 0;
    padding: 0;
}

.btn-container{
    text-align: center;
}
.btn{
    padding: 16px 18px 16px 18px;
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
    background: rgb(82, 195, 3);
    border: none;
    cursor: pointer;
}

#hero{
    height: 650px;
    background-image: linear-gradient(0deg, rgb(9, 9, 9) 3.482%,rgba(16, 16, 16, 0) 101.632%), url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#hero .hero-content {
    width: 720px;
}

#hero .hero-content .subtitle {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.8;
    margin-bottom: 14px;
}

#hero .hero-content .title {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
    line-height: 55px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 20px;
}

#hero .hero-content .description{
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 30px;
}

#card-box{
    width: 940px;
    margin: 50px auto;
}
.card-info .subtitle{
    color: rgba(16, 16, 16, 1);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 0px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.6;
    margin-bottom: 20px;
}

.card-info .title{
    color: rgba(16, 16, 16, 1);
    font-family: Work Sans;
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
}
.card-container{
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    /* border: 1px solid black; */
}
.card-container .img-box{
    width: 300px;
}
.card-container .img-box img{
    width: 100%;
}
.card{
    width: 300px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card .subtitle{
    padding: 16px 20px 16px 20px;
    border-radius: 8px;
    background: rgba(82, 195, 3, 0.15);
    color: rgba(16, 16, 16, 1);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 0px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 25px;
}

.card .title{
    color: rgba(16, 16, 16, 1);
    font-family: Work Sans;
    font-size: 30px;
    font-weight: 600;
    line-height: 0px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 30px;
}

.card .description{
    color: rgba(16, 16, 16, 1);
    font-family: Work Sans;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.6;
    margin-top: 18px;
}

#feature{
    /* border: 2px solid black; */
    width: 1360px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 20px; */
    /* margin-bottom: 50px; */
}

#feature .feature-img{
    width: 680px;
    /* border: 1px solid black; */
}
#feature .feature-img img{
    width: 100%;
}

.feature-content{
    width: 680px;
    text-align: center;
    /* margin-left: 50px; */
}

.feature-content .title{
    color: rgba(16, 16, 16, 1);
    font-family: Work Sans;
    font-size: 38px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 25px;
    /* margin-left: 30px; */
}

.feature-content .description{
    color: rgba(16, 16, 16, 1);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 0px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.6;
    margin-bottom: 40px;
}

.feature-content .subtitle{
    /* margin: 0; */
    color: rgba(16, 16, 16, 1);
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 0px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    padding: 20px 10px 20px 10px;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 30px;
}
/* a{
    text-decoration: none;
    margin-right: 10px;
} */
.media{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


#social{
    width: 1370px;
    /* height: 475px; */
    background-image: url("../assets/social-bg.png");
    background-size: cover;
    padding-top: 130px;
    padding-bottom: 130px;
    /* text-align: center; */
}

#social .title{
    color: rgba(16, 16, 16, 1);
    font-family: Work Sans;
    font-size: 38px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 25px;
    /* margin-left: 30px; */
}

#social .description{
    color: rgba(16, 16, 16, 1);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 0px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.6;
    margin-bottom: 40px;
}

#social .subtitle{
    /* margin: 0; */
    color: rgba(16, 16, 16, 1);
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 0px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    padding: 20px 10px 20px 10px;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 30px;
}